In [113]:
import tensorflow as tf 
import pandas as pd 
import json
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [114]:
# get the data

def first_data(): 
    num_class = 5
    questions = []
    classes = []
    with open("./content.json", encoding='utf-8') as f: 
        data = json.load(f)
        for type_class in range(num_class): 
            questions.append(data['intents'][type_class]['input'])
            for i in range(len(data['intents'][type_class]['input'])): 
                classes.append(data['intents'][type_class]['tag']) 
    return questions, classes 

def final_data(questionsm, tags):
    final_questions  = []
    for row in range(len(questionsm)):
        for column in range(len(questionsm[row])): 
            final_questions.append(questionsm[row][column])
    #  define dataframe
    df = pd.DataFrame()
    df['question'] = final_questions
    df['tag'] = tags
    return  df


def encode_label(df: pd.DataFrame, tags: pd.Series): 
    le = LabelEncoder()
    le.fit(np.unique(tags))
    df['tag'] = le.fit_transform(df['tag'])
    return df, le.classes_

def get_train_test_data(df: pd.DataFrame): 
    X_train, X_test, y_train, y_test =  train_test_split(df, random_state = 42, test_size = 0.2, shuffle = True)
    return  X_train, X_test, y_train, y_test

In [115]:
questions, classes = first_data()
final =  final_data(questions,  classes)

In [116]:
final.head(20)

               question       tag
0                   hai  greeting
1                 hello  greeting
2                   hai  greeting
3          selamat pagi  greeting
4         selamat siang  greeting
5          selamat sore  greeting
6         selamat malam  greeting
7                  pagi  greeting
8                 siang  greeting
9                  sore  greeting
10                malam  greeting
11            Thank you   goodbye
12               Thanks   goodbye
13  Thanks for the info   goodbye
14                  bye   goodbye
15              bye bro   goodbye
16             okay bye   goodbye
17              goodbye   goodbye
18         terima kasih   goodbye
19  terima kasih banyak   goodbye

In [117]:
df_final, class_encode = encode_label(final, final['tag'])
df_final.head(20)

               question  tag
0                   hai    2
1                 hello    2
2                   hai    2
3          selamat pagi    2
4         selamat siang    2
5          selamat sore    2
6         selamat malam    2
7                  pagi    2
8                 siang    2
9                  sore    2
10                malam    2
11            Thank you    1
12               Thanks    1
13  Thanks for the info    1
14                  bye    1
15              bye bro    1
16             okay bye    1
17              goodbye    1
18         terima kasih    1
19  terima kasih banyak    1

In [118]:
class_encode

array(['general', 'goodbye', 'greeting', 'izin', 'sakit'], dtype=object)